<<<<<<< HEAD
.starclass
{		
	width: 500px;
	height: 500px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
}

.div_screen{
    display: left;
}

.counter
{
    color: #FFFF00;
    font-size: 20px;
}

#div_pokemon_content
{
    /*background-color: #0000FF;*/
     
    font-family: Arial;
    font-size: 20pt;
    font-weight: bold;
    color: #FFFF00;
    text-align: center;
    
    width: 500px;
    height: 600px;
    
	position: absolute;    
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -250px;    
}



#div_pokemon_image
{    	
    /*background-color: #FF0000;*/
    
    width: 100%;
}

#img_pokemon
{    
    max-width:100%;
    max-height:100%;    
	
	-webkit-filter: brightness(0%);
}

#div_input
{ 
    /*background-color: #00FF00;*/
    width: 100%;
  
    position: absolute;
    bottom: 0;
}

#inputName
{
    font-family: Verdana;
    font-size: 20pt;
    text-align: center;
    
    border: solid 1px #dcdcdc;
    opacity: 0.8;
    
    padding: 10px;

    transition: box-shadow 0.3s, border 0.3s;
    box-shadow: 0 0 5px 1px #000000;
}

#inputName:focus
{
  box-shadow: 0 0 5px 1px #FFFF00;    
}

#skipButton
{   
    font-size: 110%;
    color: white;
    border-style: none;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20); /* this is an orange */
    
    padding: 10px;
}

.pokeball{
	width: 200px;
	height: 200px;
	display:inline-block;
	margin:20px;
	position: relative;
	border: 6px solid #ccc;
	border-radius: 50%;
    vertical-align:middle;
	background-image: -moz-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%), -moz-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
	background-image: -webkit-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%),-webkit-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
}

.pokeball:before{
	content: "";
	display: block;
	position: absolute;
	z-index: 6;
	width: 20%;	
	height: 20%;
	background-color: #FFF;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #AAA, 0 0 0 10px #fff, 0 0 0 16px #3f3f3f;
	margin: 40%;
}

.pokeball:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 94%;
	height: 10%;
	background-color:rgba(0,0,0,0);
	margin: 45% 3%;
	box-shadow: 12px 0 0 #FFF, -12px 0 0 #FFF;
}

#left{float:left;vertical-align: middle;display: table-cell;}
#right{float:right;vertical-align: middle;display: table-cell;}
#center{margin:0 auto;width:100px;}

.pokeball:hover{ -webkit-animation:shak .3s infinite; -moz-animation:shak .3s infinite;}
@-webkit-keyframes shak{
	0%,100%{ -webkit-transform:rotate(-10deg);}
	50%{-webkit-transform:rotate(10deg);}
}
@-moz-keyframes shak{
	0%,100%{ -moz-transform:rotate(-10deg);}
	50%{-moz-transform:rotate(10deg);}
=======
<<<<<<< HEAD
.star_image
{		
	width: 1000px;
	height: 1000px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         60s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear; 
}

.counter
{
    color: #FFFF00;
    font-size: 20px;
}

#div_game
{
    /*background-color: #0000FF;*/
    
    text-align: center;
    
    width: 80%;
    height: 100%;
    
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#div_title
{     
    font-family: Impact;
    font-size: 30pt;
    color: #FFFF00;
    text-align: center;
    
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;        
}

#div_pokemon_image
{    	
    /*background-color: #FF0000;*/
        
    position: relative;
    
    display: inline-block;  
    width: 50%;
}

#img_pokemon
{    
    max-width:100%;
    max-height:100%;    
	
	-webkit-filter: brightness(0%);
    
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#div_close_sign
{
    font-family: Impact;
    font-size: 40pt;
    color: #FF0000;
    text-align: center;
    
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
    
    position: absolute;
    bottom: 50%;
    text-align: center;
    
    width: 100%;
}

#div_pokemon_name
{
    font-family: Impact;
    font-size: 40pt;
    color: #FFFF00;
    text-align: center;
    
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
    
    position: absolute;
    bottom: 100px;
    text-align: center;
    
    width: 100%;
}

#div_input
{ 
    /*background-color: #00FF00;*/
    width: 100%;
    text-align: center;
}

#inputName
{
    font-family: Verdana;
    font-size: 20pt;
    text-align: center;
    
    border: solid 1px #dcdcdc;
    opacity: 0.8;
    
    height: 50px;

    transition: box-shadow 0.3s, border 0.3s;
    box-shadow: 0 0 5px 1px #000000;
}

#inputName:focus
{
  box-shadow: 0 0 5px 1px #FFFF00;    
}

#skipButton
{   
    font-family: Verdana;
    font-size: 20pt;
    color: white;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20);
    
    height: 55px;
    
    margin-left: 10px;
    padding: 10px;
}

#skipButton:disabled
{   
    background: rgb(100, 100, 100); 
}

#div_guessed_bar
{
    /*background-color: #0FF;*/
    
    position: relative;
    
    display: inline-block;
    text-align: center;
    
    width: 80%;
    height: 50px;
}

#div_guessed_counter
{
    /*background-color: #00F;*/
    
    font-family: Impact;
    font-size: 30pt;
    color: #FFFF00;
    text-align: center;
    
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
    width: 70px;
    float: left;
}

#div_guessed_icons
{    
    /*background-color: #F00;*/
    text-align: center;
    
    width: auto;
    max-width: 250px;
    
    margin: 0;
    float: left;
}

#list_images
{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}

#list_images::-webkit-scrollbar {
    height: 12px;
}

#list_images li
{
    display: inline;
    height: 50px;
    width: 50px;
}

#div_guessed_timer
{    
    /*background-color: #0F0;*/
    
    font-family: Impact;
    font-size: 30pt;
    color: #FFFF00;
    text-align: center;
    
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
    width: 100px;
        
    margin: 0;
    float: right;
}

#div_credits
{
    /*background-color: #FFF;*/
    
    display: inline-block;  
    
    font-family: Verdana;
    font-size: 8pt;
    text-align: center;
    color: #000000;
    
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    
    width: 100%;
}

@-webkit-keyframes rotate 
{
  from
  {
	  transform: translate(-50%, -50%) rotate(0deg);
  }
  to
  {
	  transform: translate(-50%, -50%) rotate(360deg);
  }
=======
.starclass
{		
	width: 500px;
	height: 500px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
}

#div_pokemon_content
{
    /*background-color: #0000FF;*/
     
    font-family: Arial;
    font-size: 20pt;
    font-weight: bold;
    color: #FFFF00;
    text-align: center;
    
    width: 500px;
    height: 600px;
    
	position: absolute;    
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -250px;    
}

#div_pokemon_image
{    	
    /*background-color: #FF0000;*/
    
    width: 100%;
}

#img_pokemon
{    
    max-width:100%;
    max-height:100%;    
	
	-webkit-filter: brightness(0%);
}

#div_input
{ 
    /*background-color: #00FF00;*/
    width: 100%;
  
    position: absolute;
    bottom: 0;
}

#inputName
{
    font-family: Verdana;
    font-size: 20pt;
    text-align: center;
    
    border: solid 1px #dcdcdc;
    opacity: 0.8;
    
    padding: 10px;

    transition: box-shadow 0.3s, border 0.3s;
    box-shadow: 0 0 5px 1px #000000;
}

#inputName:focus
{
  box-shadow: 0 0 5px 1px #FFFF00;    
}

#skipButton
{   
    font-size: 110%;
    color: white;
    border-style: none;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20); /* this is an orange */
    
    padding: 10px;
>>>>>>> origin/master
>>>>>>> origin/master
}